
<%= image_tag("profile_pic_with_bg.png", id: "profile_pic", class: "img-circle") %>


<div id="about">
<br>
	<p>
	Hello! My name is Boshen. I'm a second year Computer Science and Business Administration student and the University of Waterloo and Wilfred Laurier University. 
	</p>
	<p>
	I've developed apps for various platforms, including the Amazon Echo, Android, and on the web.
	</p>
	<p>
		I've worked as a support and marketing intern at QuickTapSurvey, as well as a web developer for my high school newspaper.
	</p>
	<p>
		I also like to do a bit of freelance development in my spare time.
		<br>
		
</div>