
<%= image_tag("profile_pic_with_bg.png", id: "profile_pic", class: "img-circle") %>


<div id="about">
	<br>
	<p>
		Hello! My name is Boshen. I'm a second year Computer Science and Business Administration student at the University of Waterloo and Wilfred Laurier University.
	</p>
	<p>
		I'm an avid programmer, and I've developed apps for various platforms, including the Amazon Echo, Android, and on the web.
	</p>
	<p>
		I'm currently working as a part time software developer on the Engineering team at Polar.
		Previously, I've worked as a software developer at Polar, support and marketing intern at QuickTapSurvey, as well as a web developer for my high school newspaper.
	</p>
	<p>

		When I'm not being brutally beaten down by schoolwork (that was a joke), I like to cycle, play pool, poker, and work on interesting projects that I have in mind.
	</p>
	<p>
		I'm currently looking for a software development internship for the Winter 2018 season.
	</p>

	<br>
	<div class="flex-container">
		<div class="flex-item link">Github
			<br>
			<a class="fa fa-github" href="https://github.com/broshen" target="_blank"></a>
		</div>
		<div class="flex-item link">LinkedIn
			<br>
			<a class="fa fa-linkedin-square" href="https://www.linkedin.com/in/boshencui" target="_blank"></a>
		</div>
		<div class="flex-item link">Resume
			<br>
			<a class="fa fa-file-text" href="http://boshencui.com/resume.pdf" target="_blank"></a>
		</div>
		<div class="flex-item link">Designs
			<br>
			<a class="fa fa-globe" aria-hidden="true" href="http://broshen.github.io" target="_blank"></a>
		</div>
		<div class="flex-item link">Email
			<br>
			<a class="fa fa-envelope" href="mailto:boshen.cui@gmail.com" target="_blank"></a>
		</div>
	</div>
	<br>
</div>