<div id="about">
	<p>
	Hello! My name is Boshen. I'm a second year Computer Science and Business Administration student and the University of Waterloo and Wilfred Laurier University. I'm a software developer in training, a data enthusiast, and an analyst at heart. 
	</p>
	<p>
	I've developed apps in Android and for the web. Some of my projects include SupportTranslate - a webapp to help customer support teams respond to non-english tickets, SocialSelf,  an android app designed to make adding friends on social media quick and easy, and this website, built in Ruby on Rails.
	</p>
	<p>
		I've worked as a support and marketing intern at QuickTapSurvey, as well as a web developer for my high school newspaper.
	</p>
	<p>
		My hobbies include swimming, biking long distances, cooking (then eating the food), taking naps, and occasionally dropping a bad pun.
	</p>


Welcome to my website!
</div>