
<img id="profile_pic" class="img-circle" src="https://raw.githubusercontent.com/Broshen/broshen.github.io/master/profile.png" alt="Profile pic with bg">


<div id="about">
	<br>
	<p>
		Hello! My name is Boshen. I'm a fourth year Computer Science and Business Administration student at the University of Waterloo and Wilfred Laurier University.
	</p>
	<p>
		I'm an avid programmer, and I've developed apps for various platforms, including the Amazon Echo, Android, and on the web.
	</p>
	<p>
		Previously, I've done 2 Undergraduate Research Assistantships at the University of Waterloo, and I've worked as a web developer intern at Formlabs, a software developer at Polar, support and marketing intern at QuickTapSurvey, as well as a web developer for my high school newspaper, The Reckoner of Marc Garneau.
	</p>
	<p>

		When I'm not being brutally beaten down by schoolwork (that was a joke), I like to cycle, play pool, poker, and work on interesting projects that I have in mind.
	</p>
	<p>
		I'm currently looking for a software development internship for the Winter 2019 (January - April) season.
	</p>

	<br>
	<div class="flex-container">
		<div class="flex-item link">Github
			<br>
			<a class="fa fa-github" href="https://github.com/broshen" target="_blank"></a>
		</div>
		<div class="flex-item link">LinkedIn
			<br>
			<a class="fa fa-linkedin-square" href="https://www.linkedin.com/in/boshencui" target="_blank"></a>
		</div>
		<div class="flex-item link">Resume
			<br>
			<a class="fa fa-file-text" href="http://boshencui.com/resume.pdf" target="_blank"></a>
		</div>
		<div class="flex-item link">Designs
			<br>
			<a class="fa fa-globe" aria-hidden="true" href="http://broshen.github.io" target="_blank"></a>
		</div>
		<div class="flex-item link">Email
			<br>
			<a class="fa fa-envelope" href="mailto:boshen.cui@gmail.com" target="_blank"></a>
		</div>
	</div>
	<br>
</div>