
<img id="profile_pic" class="img-circle" src="https://raw.githubusercontent.com/Broshen/broshen.github.io/master/profile.png" alt="Profile pic with bg">


<div id="about">
	<br>
	<p>
		Hello! My name is Boshen. I'm a fifth year Computer Science and Business Administration student at the University of Waterloo and Wilfred Laurier University.
	</p>
	<p>
		I'm an avid programmer, and I've developed apps for various platforms, including the Amazon Echo, Android, and on the web.
	</p>
	<p>
		Previously, I've worked as a software engineering intern at Datadog, a web developer intern at Formlabs, a software developer intern at Polar, and a support and marketing intern at QuickTapSurvey. I've also done 2 Undergraduate Research Assistantships at the University of Waterloo, and worked as a part time software developer intern for Polar after my internship.
	</p>
	<p>
		When I'm not being brutally beaten down by schoolwork (that was a joke), I like to cycle, paddle, read, and work on interesting projects (i.e. fiddle around with random APIs) that I have in mind. I've done bike trips from Toronto to Detroit and Montreal, and paddled for Waterloo at the 2019 Canadian National Dragon Boat Championships in Regina.
	</p>
	<p>
		I'm currently looking for a software development internship for the Winter 2020 (January - April) season, and a full time job post graduation (September 2020 and onwards).
	</p>

	<br>
	<div class="flex-container">
		<div class="flex-item link">Github
			<br>
			<a class="fa fa-github" href="https://github.com/broshen" target="_blank"></a>
		</div>
		<div class="flex-item link">LinkedIn
			<br>
			<a class="fa fa-linkedin-square" href="https://www.linkedin.com/in/boshencui" target="_blank"></a>
		</div>
		<div class="flex-item link">Resume
			<br>
			<a class="fa fa-file-text" href="http://boshencui.com/resume.pdf" target="_blank"></a>
		</div>
		<div class="flex-item link">Designs
			<br>
			<a class="fa fa-globe" aria-hidden="true" href="http://broshen.github.io" target="_blank"></a>
		</div>
		<div class="flex-item link">Email
			<br>
			<a class="fa fa-envelope" href="mailto:boshen.cui@gmail.com" target="_blank"></a>
		</div>
	</div>
	<br>
</div>