<div id="about-page">
	<div class="col-sm-12">
		<h1>About Me<h1>
	</div>

	<div>
		<h2 class="col-sm-4">University Student	</h2>
		<br>
		<h2 class="col-sm-4">Developer in Training</h2>
		<br>
		<h2 class="col-sm-4">Data Enthusiast</h2>
		<br>
	</div>

	<div class="row">
	  <div class="col-sm-8">
	  		<%= render partial: "pages/about" %>
	  </div>

	  <div class="col-sm-4" >
	  	<%= image_tag("profile_pic_with_bg.png", id: "about-pic", class: "img-responsive img-circle") %>
	  </div>
  </div>
</div>