<% if current_page?('/contact') %>
	<h1>Contact </h1>
<% else %>
	<h2>Contact </h2>
<%end%>
<div class="row">
<div class="col col-sm-2"></div>
<div class="col col-sm-8">
	<%= render template: 'messages/new' %>
</div>
<div class="col col-sm-2"></div>
</div>
<div class="center">
	<br>

	<a class="fa fa-linkedin-square" href="https://www.linkedin.com/in/boshencui" target="_blank"></a>

	<a class="fa fa-github" href="https://github.com/Broshen" target="_blank"></a>

	<a class="fa fa-envelope" href="mailto:boshen.cui@gmail.com"></a>

</div>
<br>
<br>
<br>
