<h2>Contact </h2>
<div class="center">
	<p>
	Want to know more? Got an interesting project? Can't get enough of me? I gotchu, fam!
	</p>

	<br>

	<a class="fa fa-linkedin-square" href="https://www.linkedin.com/in/boshencui" target="_blank"></a>

	<a class="fa fa-github" href="https://github.com/Broshen" target="_blank"></a>

	<a class="fa fa-envelope" href="mailto:boshen.cui@gmail.com"></a>

</div>
<div>
	<%= render template: 'messages/new' %>
</div>