<h1>Side Projects</h1>

<% @projects.order(:created_at).reverse_order.each do |project| %>

  <%= render :partial=>'projects/show', :object=>project %>
     
<% end %>


<br>

<% if is_admin? %>
<%= link_to 'New Project', new_project_path %>
<% end %>
