<h1>Work Experience</h1>
<br>
<% @experiences.order(:created_at).each do |experience| %>

  <br>

  <%= render :partial=>'experiences/show', :object=>experience %>   

<% end %>

<br>
<br>

<% if is_admin? %>
<%= link_to 'New Experience', new_experience_path %>
<% end %>
