<footer  class="footer navbar-fixed-bottom">

  <ul class="nav nav-tabs">
    <li class="dropup">
      <a class="dropdown-toggle" data-toggle="dropdown">Chat live with me!</a>

      <div class="dropdown-menu dropdown-menu-right">
        <div class="dropdown-menu-right">
          coming soon! i still have to make this and stuff blah blah blah
        </div>
      </div>

    </li>
  </ul>

</footer>